[submodule "hideshow"]
	path = hideshow
	url = git://github.com/secelis/hideshow-org.git
[submodule "orgmode"]
	path = orgmode
	url = git://repo.or.cz/org-mode.git
[submodule "org2blog"]
	path = org2blog
	url = git://github.com/punchagan/org2blog.git
[submodule "Pymacs"]
	path = Pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule "virtualenv"]
	path = virtualenv
	url = git://github.com/aculich/virtualenv.el.git
